.header{
    width: 100%;
    height: 800px;
    background-image: url('https://superlabs.co/assets/img/banners/banner-3.webp');
   /* https://superlabs.co/assets/img/banners/banner-4.jpg' */
    /* https://superlabs.co/assets/img/banners/banner-3.webp */
    /* https://superlabs.co/assets/img/banners/banner-2.webp */
    /* https://superlabs.co/assets/img/banners/banner-1.webp */
    
    position: relative;

    height: 600px;
    background-size: cover;
    background-position: center center;
    /* animation: grow 18s infinite; */
}